<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
   
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DB" connectionString="Server=.\SQL2016; Database=AdventureWorks2016; Trusted_Connection=True; App=AppRaw_DB;" />
    <add name="ReadOnly" connectionString="Server=.\SQL2016; Database=AdventureWorks2016; Trusted_Connection=True; App=AppRaw_ReadOnly;" />
  </connectionStrings>
  
</configuration>

